# Function
### print ชื่อ XXX นามสกุล YYY รหัส ZZZ
### print เกรด วิชา Stat 1 >> AAA

In [1]:
a = (f'ชื่อ ทัชมินทร์ นามสกุล เซี่ยงอึ้ง รหัส 603020470-7')
print(a)

ชื่อ ทัชมินทร์ นามสกุล เซี่ยงอึ้ง รหัส 603020470-7

In [2]:
name = 'ทัชมินทร์'
sername = 'เซี่ยงอึ้ง'
ID = '603020470-7'

b = f'ชื่อ {name} นามสกุล {sername} รหัส {ID}'
print(b)

ชื่อ ทัชมินทร์ นามสกุล เซี่ยงอึ้ง รหัส 603020470-7

```python
def function_name(Input):
    do_something
    return Output
```

In [3]:
def print_line1(name,sername,ID):
    st = f'ชื่อ {name} นามสกุล {sername} รหัส {ID}'
    return st

In [4]:
print(print_line1('พรภิรมย์','โลจรัส','603020478-1'))

ชื่อ พรภิรมย์ นามสกุล โลจรัส รหัส 603020478-1

In [5]:
def print_2line(name,sername,ID,grade):
    st = f'ชื่อ {name} นามสกุล {sername} รหัส {ID}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [6]:
print_2line('พรภิรมย์','โลจรัส','603020478-1','A')

ชื่อ พรภิรมย์ นามสกุล โลจรัส รหัส 603020478-1
เกรดวิชา stat1 >>> A

In [7]:
print_2line('ทัชมินทร์','เซี่ยงอึ้ง','603020470-7','A')
print_2line('พรภิรมย์','โลจรัส','603020478-1','A')
print_2line('ศุภนิตา','ดาดวน','603021129-1','A')
print_2line('ภูวนัต','จันทะกล','603021111-0','A')

ชื่อ ทัชมินทร์ นามสกุล เซี่ยงอึ้ง รหัส 603020470-7
เกรดวิชา stat1 >>> A
ชื่อ พรภิรมย์ นามสกุล โลจรัส รหัส 603020478-1
เกรดวิชา stat1 >>> A
ชื่อ ศุภนิตา นามสกุล ดาดวน รหัส 603021129-1
เกรดวิชา stat1 >>> A
ชื่อ ภูวนัต นามสกุล จันทะกล รหัส 603021111-0
เกรดวิชา stat1 >>> A

In [8]:
def print_3line(name,sername,ID,grade,age):
    st = f'ชื่อ {name} นามสกุล {sername} รหัส {ID}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)
    st3 = f'อายุ >>> {age}'
    print(st3)

In [9]:
print_3line('พรภิรมย์','โลจรัส','603020478-1','A','21')

ชื่อ พรภิรมย์ นามสกุล โลจรัส รหัส 603020478-1
เกรดวิชา stat1 >>> A
อายุ >>> 21

### function without input

In [10]:
def two_x_three():
    x = 2*3
    return x

In [11]:
two_x_three()

6

### function with default argument

In [12]:
def print_2line_default(name,sername,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {sername} รหัส {ID}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

In [13]:
print_2line_default('พรภิรมย์','โลจรัส','603020478-1')

ชื่อ พรภิรมย์ นามสกุล โลจรัส รหัส 603020478-1
เกรดวิชา stat1 >>> F

# Loop (วนซ้ำ)

```Python
for each_member in listA:
    do something
```

In [14]:
for i in [1,2,3]:
    print(i)

1
2
3

In [15]:
for i in 'Thachamin':
    print(f'{i} -> /')
    print(' ')

T -> /

h -> /

a -> /

c -> /

h -> /

a -> /

m -> /

i -> /

n -> /

## 1 สร้าง List ชื่อเพื่อนในแถวยาวเดียวกัน
## 1.5  สร้าง function print ประโยคว่า XXXเรา YYYกริยา ZZZเพื่อน ทุกคนในแถวยาว
## 2 วนลูปเรียก function ดดยเปลี่ยนชื่อเพื่อนไปเรื่อยๆ

In [16]:
list_F = ['เบิร์ด','เอิร์น','ไอ่','ขวัญ','ดิว']

In [17]:
def mf(I,feeling,friend,):
    friends = f'{I} {feeling} {friend}'
    print(friends)

In [18]:
for i in range(len(list_F )):
    mf('min','love',list_F[i])

min love เบิร์ด
min love เอิร์น
min love ไอ่
min love ขวัญ
min love ดิว

## loop in function

In [19]:
def mf2(I,feeling,friend):
    for f in friend:
        print(f'{I} {feeling} {f}')

In [20]:
mf2('min','love',list_F)

min love เบิร์ด
min love เอิร์น
min love ไอ่
min love ขวัญ
min love ดิว

## looping in dict

In [21]:
name_grade = {'thachamin':'B','supanita':'C','panatda':'A','phuwanat':'F'}

In [22]:
name_grade

{'thachamin': 'B', 'supanita': 'C', 'panatda': 'A', 'phuwanat': 'F'}

In [23]:
name_grade['thachamin']

'B'

In [24]:
for i in name_grade.keys():
    print(i)

thachamin
supanita
panatda
phuwanat

In [25]:
name_grade.keys()

dict_keys(['thachamin', 'supanita', 'panatda', 'phuwanat'])

In [26]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

thachamin ได้เกรด B
supanita ได้เกรด C
panatda ได้เกรด A
phuwanat ได้เกรด F

## loop in loop

In [27]:
for name1 in list_F:
    for name2 in list_F:
        mf(name1,'love',name2)

เบิร์ด love เบิร์ด
เบิร์ด love เอิร์น
เบิร์ด love ไอ่
เบิร์ด love ขวัญ
เบิร์ด love ดิว
เอิร์น love เบิร์ด
เอิร์น love เอิร์น
เอิร์น love ไอ่
เอิร์น love ขวัญ
เอิร์น love ดิว
ไอ่ love เบิร์ด
ไอ่ love เอิร์น
ไอ่ love ไอ่
ไอ่ love ขวัญ
ไอ่ love ดิว
ขวัญ love เบิร์ด
ขวัญ love เอิร์น
ขวัญ love ไอ่
ขวัญ love ขวัญ
ขวัญ love ดิว
ดิว love เบิร์ด
ดิว love เอิร์น
ดิว love ไอ่
ดิว love ขวัญ
ดิว love ดิว

## conditional

```python
if conditional1:
    do something
elif conditional2:
    do another thing
else:
    do...
```

In [28]:
for name1 in list_F:
    for name2 in list_F:
        if name1 !=name2:
            mf(name1,'love',name2)

เบิร์ด love เอิร์น
เบิร์ด love ไอ่
เบิร์ด love ขวัญ
เบิร์ด love ดิว
เอิร์น love เบิร์ด
เอิร์น love ไอ่
เอิร์น love ขวัญ
เอิร์น love ดิว
ไอ่ love เบิร์ด
ไอ่ love เอิร์น
ไอ่ love ขวัญ
ไอ่ love ดิว
ขวัญ love เบิร์ด
ขวัญ love เอิร์น
ขวัญ love ไอ่
ขวัญ love ดิว
ดิว love เบิร์ด
ดิว love เอิร์น
ดิว love ไอ่
ดิว love ขวัญ

In [29]:
if True:
    print('Yes')

Yes

In [30]:
if False:
    print('No')

In [31]:
if False:
    print('Yes')
else:
    print('No')

No

In [32]:
1 == 1

True

In [33]:
if 1 == 1:
    print('1=1')

1=1

##  HW
### เขียน function ตัดเกรดโดยที่ input เป้น คะแนน output เป็นเกรด
### [1,50,65,90,101,-5,49]

In [3]:
list_grade = [1,50,65,90,101,-5,49]

In [4]:
for i in list_grade:
    if   100>= i >= 80:
        print('grade = A')
    elif 80> i >=75:
        print('grade = B+')
    elif 75> i >=70:
        print('grade = B')
    elif 70> i >=65:
        print('grade = C+')
    elif 65> i >=60:
        print('grade = C')
    elif 60> i >=55:
        print('grade = D+')
    elif  55> i >=50:
        print('grade = D')
    elif  50> i >=0:
        print('grade = F')
    elif  i >100:
        print('error')
    elif  i <1:
        print('error')

grade = F
grade = D
grade = C+
grade = A
error
error
grade = F